ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

li a {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(172, 166, 166);
}

.active {
    background-color: #4CAF50;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding: 16px;
    background-color: white;
}

body {
    background-image: url('../img/pattern.jpg');
    background-repeat: repeat;
}

h1 {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

hr.rounded {
    border-top: 4px solid #bbb;
    border-radius: 5px;
  }